@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #fffff2;
    padding: 20px 30px;
}

/* .home {
    background: url(/paper-4.png);
} */

@media screen and (min-width:768px){
    /* .home {
        padding: 30px 80px;
        background-repeat: no-repeat;
        background-size: cover;
    } */
}


h1, h2, h3 {
    text-transform: uppercase;
}

p {
    font-family: 'DM Sans';
    text-align: justify;
}

.ql-editor {
    font-size: 1.05rem;
}

.post-content p {
    margin-bottom: 0.5rem;
}

.post-content h1, h2, h3 {
    margin-bottom: 0.3rem;
    font-weight: 550;
    /* font-family: 'Libre Calson Display', serif; */
}

.post-content h1 {
    font-size: 2rem;
}

.post-content h2 {
    font-size: 1.2rem;
}